@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #06032f;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.digital-clock{
    display:flex;
    justify-content:center;
    align-item:center;
    border:2px solid #232020;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 8px;
    background-color: #232020;
}